body {
	background-color: #E9E9E9;
	margin: 0;
	padding: 0;
}

.back-img {
	position: fixed;
	/* 讓背景固定在視窗上 */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/test_back.png');
	/* 替換成你的圖片路徑 */
	background-size: cover;
	/* 覆蓋整個畫面 */
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
	/* 放在內容後面 */
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
}

a {
	color: #5D5D9E;
	text-decoration: none;
}

a:visited {
	color: #5D5D9E;
}

a:active {
	color: #5C615E;
}

a:hover {
	color: #B2B3B4;
}

.link-primary {
	color: #0080FF;
}

.link-primary:hover {
	color: #0000A0;
	text-decoration: underline;
}

#slideShow {
	overflow: hidden;
	width: 100%;
	height: 0;
	margin-top: 0 !important;
	padding-top: 30%;
	position: relative;
}

img.img-fluid {
	max-width: 100%;
	height: auto;
}

.full-height {
	height: 600px;
}

.d-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-height {
	margin: 100px 0;
}

/* 圓角內容區塊 */
.content {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;

	width: 500px;
	min-width: 500px;
	min-height: 600px;
	text-align: center;
}

.content-welcome {
	padding: 40px 60px;

	/* 棲遲書屋 */
	h1 {
		font-family: '標楷體';
		font-size: 60px;
		color: var(--second-text-color);
		text-align: center;
	}

	/* 歡迎標語 */
	.welcome {
		font-family: '標楷體';
		margin-top: 40px;


		/* 主題 */
		h2 {
			margin-bottom: 0;
			font-size: 27px;
			color: var(--second-text-color);
			text-align: center;
		}

		/* 橫線 */
		.welcomeSoild {
			margin: 10px auto;
			height: 2px;
			width: 70%;
			background-color: var(--second-text-color);

		}

		/* 內容 */
		span {
			margin: 0 auto;
			width: 80%;

			font-size: 20px;
			color: var(--second-text-color);
			text-align: justify;
		}
	}

	/* 【歡迎標語-動畫 (讓引用區淡入顯示，避免元素區塊一開始突兀出現展開) */
	.welcome-anime {

		/* 標題先出現 */
		.welcomeTitle {
			/* 透明 */
			opacity: 0;
			/* 指定透明：淡入效果	ease:常見預設值，慢 - 快 - 慢 */
			transition: opacity 1s ease;
		}

		/* 訊息再出來 */
		.welcomeMessage,
		.welcomeSoild {
			opacity: 0;
			transition: opacity 1s ease 1s;
		}

		/* JS加入的樣式，用以啟動上方動畫效果 */
		.show {
			/* 顯示 */
			opacity: 1;
		}

	}

	/* 引用區塊樣式 */
	.quote {
		justify-content: center;
		border-left: 2.4px solid #777;
		padding-left: 1px;
		font-size: 11px;
		font-style: italic;
		/* color: #777; */
		line-height: 1.6;
	}

	/* 名言引用 */
	.quotations {
		font-family: '標楷體';

		margin: 0 auto;
		width: 300px;

		.quote {
			font-size: 14px;
		}

		/* 作者 */
		.author {
			margin: 0;
			margin-top: 5px;

			font-size: 12px;
			text-align: right;
			color: var(--quote-text-color);
			display: inline-block;
			/* 確保在一行內 */

			/* 偽樣式 —— */
			&::before {
				content: "——";
				margin-right: 4px;
			}
		}
	}

	/* 【名言引用-動畫 (讓引用區淡入顯示，避免元素區塊一開始突兀出現展開) */
	.quotations-anime {

		/* 名言先出現 */
		.quote {
			/* 透明 */
			opacity: 0;
			/* 指定透明：淡入效果	ease:常見預設值，慢 - 快 - 慢 */
			transition: opacity 1.5s ease 1.5s;
		}

		/* 作者再出來 */
		.author {
			opacity: 0;
			transition: opacity 1s ease 2s;
		}

		/* JS加入的樣式，用以啟動上方動畫效果 */
		.show {
			/* 顯示 */
			opacity: 1;
		}

	}

	/* 動畫】 */
}

/* 左側登入區域 】*/