/* 全局樣式 */
body {
  background-color: #E9E9E9;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

/* 按鈕組樣式 */
.btn-group .btn.active {
  background-color: #007bff;
  color: white;
}

/* 輪播樣式 */
#slideShow {
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 30%;
  position: relative;
}

/* 分頁樣式 */
.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  min-width: 80px;
  text-align: center;
}

.pagination .page-item:not(:first-child):not(:last-child) .page-link {
  min-width: 40px;
  text-align: center;
}

/* 字串截斷樣式 */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-cell {
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 手風琴樣式 */
.accordion-button {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
}

.accordion-button:hover {
  background-color: #e2e6ea;
}

.accordion-body {
  padding: 1rem;
  background-color: #f8f9fa;
}
